@use "../../utilities" as *;

.tx-visa-applications {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;

    @include breakpoint-up(sm) {
        grid-template-columns: repeat(3, 1fr);
    }

    @include breakpoint-up(md) {
        grid-template-columns: repeat(5, 1fr);
    }
}

.tx-link-button,
.tx-link-button-wrapper a {
    padding: 0.5rem 1rem;
    background-color: var(--#{$prefix}theme);
    color: var(--#{$prefix}white);
    font-size: var(--#{$prefix}font-sm);
    border-radius: 0.5rem;
    @include flex-center-center();

    &:hover,
    &:focus {
        text-decoration: underline;
    }

    @include breakpoint-up(md) {
        font-size: var(--#{$prefix}font-xs);
    }
}