@use "../utilities" as *;

.tx-search-tabs-nav {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 0.25rem;
    margin-bottom: 0.5rem;

    .nav-item {
        padding: 0;
        margin: 0;
    }

    .nav-link {
        background: transparent !important;
        color: var(--#{$prefix}text) !important;
        @include flex-center-center();
        line-height: 1;
        padding: 1em 2em !important;
        margin: 0;
        border: 1px solid var(--#{$prefix}line);
        border-radius: 0.25rem !important;
        font-size: var(--#{$prefix}font-sm);
        font-weight: normal;
        text-transform: capitalize;

        &.active {
            background: var(--#{$prefix}theme) !important;
            color: var(--#{$prefix}white) !important;
            font-weight: 500;
        }
    }
}